<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Airport </div>
  <div><%= flight.airport %></div>
  <div>Ticket:</div>
  <ul>
    <%- flight.flight.map(t => 
      `<li>${t.seat} ${t.price}</li>`
    ).join('') %>
  </ul>
</section>

<form id="add-ticket-to-flight" action="/flights/<%= flight._id%>/tickets" method="POST">
  <select name="ticketId">
    <%- tickets.map(t => `<option value="${t._id}">${t.seat}</option>`).join('') %>
  </select>
  <button id="ticket" type="submit">Add to Ticket</button>
</form>

<br><br><h2>Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="SEA">SEA</option>
  </select>

  <label>Arrival:</label>
  <input type='datetime-local' name="arrival">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
      	<th>Airport</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destination Yet</h5>
<% } %>


<%- include('../partials/footer') %>