<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Airport </div>
  <div><%= flight.airport %></div>
</section>
<br>
<button id="new-ticket">
  <a href="/flights/<%= flight._id %>/tickets/new" <%- title === 'Tickets' ? 'class="active"' : '' %>>New Tickets</a>
</button>


<br><br><h2>Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="SEA">SEA</option>
  </select>

  <label>Arrival:</label>
  <input type='datetime-local' name="arrival">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
      	<th>Airport</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destination Yet</h5>
<% } %>

<br><br><h2>New Tickets</h2>
<section>
  <% tickets.forEach(function(d) { %>
    <div>
      Seat: <%= d.seat %> 
    </div>
    <div>
      Price: <%= d.price %>
    </div>
  <% }); %>
</section>

<%- include('../partials/footer') %>