<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNo %></div>
  <div>Departure: </div>
  <div><%= flight.departs %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
</section>

<br><br><h2>Add Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  
  <label>Date/Time: </label>
  <input type='datetime-local' name="arrival">
  <br>

  <label>Destination:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="SEA">SEA</option>
  </select>

  <input type="submit" value="Add Flight">
</form>

<% if (flight.destinations.length) { %>
  <h2>Destination</h2>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival Date and Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destination Yet</h5>
  <% } %>

<%- include('../partials/footer') %>